<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polling units</title>
</head>
<body>
    <p>Result for Polling Unit with unique ID <%= results[0].polling_unit_uniqueid %></p>

    <table>
        <% results.forEach( result => { %>
            <tr>
                <td><strong><%= result.party_abbreviation %></strong></td>
                <td><%= result.party_score %></td>
            </tr>
        <%}) %>
    </table>
    
</body>
</html>